<footer class="footer">
  <small>
    <a href="http://www.reynholm.co.uk//">Smooth Sky 2833</a>
    by K.H.A.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.theonion.com/">News</a></li>
    </ul>
  </nav>
</footer>